name: Update gist
on:
  push:
    branches:
      - master
  schedule:
    # 每天北京时间 4:00 16:00 更新
    - cron: '0 20 * * *'

jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: yarn install
      - name: Update gist
        uses: ./
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: ce502cc895adc84e16821772688ab341
          USER_ID: 1302912138
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
